/************************************* el isleri css */
/*  paragraf özellikleri */
p{
    font-size: 20px;
}
/* başlık özellikleri */
h1 , h2, h3, h4, h5, h6 {
    color: rgb(226, 119, 43);
}
/* liste özellikleri */
ul ,ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* zemin rengi */

